*/picomazing_*.bin/picomazing_*_linux.zip
*/picomazing_*.bin/picomazing_*_osx.zip
*/picomazing_*.bin/picomazing_*_raspi.zip
*/picomazing_*.bin/picomazing_*_windows.zip
*/*.bin/**
*/*.p8.png
*.js
*.html
*.zip
